/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e9dee1;
  /* Soft pink background */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Header */
header {
  width: 100%;
  height: 70px;
  background-color: #ee99ac;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0 20px;
}

header .logo-container svg {
  width: 40px;
  height: 40px;
  fill: #880e4f;
}

header .logo-container .logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5px;
}

header .logo-container .logo-text h1 {
  font-size: 1.5rem;
  color: #880e4f;
  margin: 0;
}

header .logo-container .logo-text p {
  font-size: 0.8rem;
  color: #6a1b9a;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 0 20px;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.user-container img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}